@font-face {
	font-family: raleway;
	
	src: url('police/Raleway-VariableFont_wght.ttf');
}


*
{
	padding : 0;
	margin : 0;
}

a:link
{ 
	text-decoration:none; 
} 

h1 {
	padding-bottom: 20px;
	padding-top: 30px;
	font-size: 20px;
}

h2
{
	padding-top: 30px;
	padding-bottom: 10px;
}

body 
{
	font-family: raleway, Arial, serif;
	font-style: normal;
}

#hebergements, #activites
{
	display: none;
} 

.liste_hebergements:hover 
{
	border-top: #0065FC 1px solid;
}

.liste_activites:hover
{
	border-top: #0065FC 1px solid;
}
.liste_inscrire:hover
{
	border-top: #0065FC 1px solid;
}
ul 
{
	list-style-type: none;
}


nav ul 
{
	display: flex;
}

nav li

{
	margin-right: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}

.liste_hebergements
{
	color: #0065FC
}

.liste_inscrire
{
	color: #0065FC; 
	font-weight: bold;
}

#hebergements
{
	color: #0065FC;
}

header
{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
}

.recherche
{
	height: 35px;
	display: flex;
	width: 30%;
	margin-top:20px;
	margin-bottom: 30px;
}

.icone_map
{
	background-color: #F2F2F2;
	width: 8%;
	border-radius: 10px 0px 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input_search
{
	font-weight: bold;
	height: 100%;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-left: none;
	border-right: none;
	text-align: center;
}

.button_search
{
	background-color: #0065FC ;
	color: white ;
	height: 100%;
	border : none;
	border-radius: 0px 10px 10px 0px;
	padding: 10px;
	font-weight: bold;
}

#loupe_recherche
{
	display: none;
}

.info

{
	margin-top: 30px;
}

.bouton_filtre:hover

{
	background-color: green;
}

.liste_bouton_filtre
{
	display: flex;
	padding-left: 10px;
	flex-wrap: wrap;
}

.bouton_filtre
{
	border : solid 1px #F2F2F2;
	border-radius: 25px;
	margin: 10px;
	display: flex;
	align-items: center;
	border-left-style : none;
}

.icone_filtre
{
	background-color:#DEEBFF;
	width : 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065FC;
}

.bouton_filtre span
{
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-size: large;
}

.filtre 
{
	display: flex;
	justify-content: left;
	align-items: center;
}

.alerte_info

{
	display: flex;
	justify-content: left;
	align-items: center;
}

.alerte_info p

{
	padding-left: 20px;
}

.icone_info

{
	color: blue;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px #F2F2F2 solid;
	border-radius: 50px;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info2

{
	color: black;
}

.hebergement_aside_conteneur
{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.conteneur_hebergement_habitation
{
	background-color: #F2F2F2;
	width: 68%;
	border-radius: 15px;
}

.appart 
{
	margin-left: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
}
.liste_habitations
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.habitation
{
	background-color:white;
	border-radius: 25px;
	padding: 5px;
	line-height: 1.5em;
	margin-bottom: 30px;
	width: 25%;
	box-shadow: 5px 5px 10px grey;
	
}

.img_hebergement
{
	height: 150px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 20px ;
	border-top-right-radius: 20px;
}

.etoile_bleue
{
	color: #0065FC;
}

.etoile_bleue span
{
	color :#F2F2F2;
}

.afficher
{
	margin-left: 50px;
	padding-bottom: 40px;
	font-size: large;
}

aside
{
	background-color: #F2F2F2;
	width: 25%;
	border-radius: 15px;
}

.titre_aside
{
	padding: 30px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.populaire 
{
	border-radius: 15px ;
	background-color : white;
	margin-left: 30px;
	margin-right: 40px;
	display: flex;
	line-height: 2em;
	margin-bottom: 30px;
	box-shadow: 5px 5px 10px grey;
}

.conteneur_populaire
{
	display: flex;
	padding: 5px;
}

.img_populaire
{
	height: 140px;
	width: 40%;
	object-fit: cover;
	border-top-left-radius: 10px ;
	border-bottom-left-radius: 10px;
}

.detail_populaire
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
}

.titre_activite
{
	margin-top: 30px;
	padding-left: 35px;
	font-size: 20px;
}

.conteneur_activite
{
	display: flex;
	min-height: 500px;
	margin-bottom: 50px;
}

.conteneur_detail_activite
{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.conteneur_detail_activite_bloc
{
	width: 50%;
	padding-left: 30px;
}

.activite 
{
	height: 50%;
	display: flex;
	flex-direction: column;
}

.liste_activite
{
	display: flex;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}

.image_activite
{
	height: 100%;
}

.img_activite
{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px ;
	border-top-right-radius: 10px;
}



.img_activite2
{
	height: 225px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

.image_activite3
{
	margin-top: 55px;
}
.img_activite3
{
	height: 150px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

.img_activite4
{
	height: 200px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

.img_activite5
{
	height: 200px;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

.image_activite5
{
	margin-top: 30px;
}

.carte_activite
{
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.detail_activite 
{
	box-shadow: #F2F2F2 5px 5px 5px;
	border-radius: 0px 0px 10px 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

footer
{
	background-color: #F2F2F2;
}

.contenu_footer
{
	display: flex;
	justify-content: space-between;
	line-height: 2.5em;
	width: 70%;
	padding: 30px;
}

.bloc_recherche
{
	padding-left: 20px;
}

@media (max-width: 1400px)
{
	.hebergement_aside_conteneur
	{
		flex-direction: column-reverse;
		padding-left: 0;
		padding-right: 0;
	}
	
	aside
	{
		width: 100%;
		border-radius: 0px;
	}
	
	.conteneur_hebergement_habitation
	{
		min-width: 100%;
		background-color: white;
	}
	
	.conteneur_activite
	{
		flex-direction: column;
		margin-bottom: 20px;
	}
	
	.liste_activite
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
	
	.image_populaire
	{
		width: 50%;
	}
	.image_populaire2
	{
		width: 50%;
	}
	.image_populaire3
	{
		width: 50%;
	}
	
	.conteneur_detail_activite
	{
		width: 95%;
	}
	
	.conteneur_detail_activite_bloc
	{
		width: 95%;
		padding: 0;
	}
	
	.img_activite
	{
		height: 150px;
	}
	
	.img_activite2
	{
		height: 150px;
	}
	
	.image_activite3
	{
		margin-top :0px; 
	}
	
	.img_activite4
	{
		height: 150px;
	}
	
	.img_activite5
	{
		height: 150px;
	}
	
	.detail_activite
	{
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	
}

@media (max-width: 1024px)

{
	
	header 
	{
		margin-bottom: 10px;
	}
	
	.liste_activites, .liste_hebergements
	{
		display: none;
	}
	
	.liste_inscrire
	{
		padding-top: 15px;
	}
	
	#hebergements, #activites
	{
		display: flex;
		width: 50%;
		justify-content: center;
	}
	
	.conteneur_activite_hebergement
	{
		display: flex;
		justify-content: space-around;
	}
	
	#hebergements
	{
		padding-bottom: 10px;
		color: #0065FC;
		border-bottom: solid 3px lightgrey;
	}
	#hebergements:hover
	{
		border-bottom: solid 3px #0065FC;
	}
	
	#activites
	{
		border-bottom: solid 3px lightgrey;
		padding-bottom: 10px;
	}
	
	#activites:hover
	{
		border-bottom: solid 3px #0065FC;
	}
	.recherche
	
	{
		width: 100%;
	}
	
	.icone_map
	{
		min-width: 10%;
	}
	
	.input_search
	{
		width: 80%;
	}
	
	.button_search
	{
		width: 10%;
		border-radius: 10px;
		padding: 0px;
	}
	
	.bloc_recherche
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#texte_recherche
	{
		display: none;
	}
	
	#loupe_recherche
	{
		display: flex;
		justify-content: center;
	}
	.filtre
	{
		display: flex;
		flex-direction: column;	
		align-items: flex-start;
	}
	
	.appart
	{
		margin-left: 20px;
	}
	
	.liste_habitations
	{
		display: flex;
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.habitation
	{
		width: 95%;
		box-shadow: #F2F2F2 5px 10px 10px;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}
	
	.conteneur_hebergement_habitation
	{
		min-width: 100%;
		background-color: white;
	}
	
	.contenu_footer
	{
		display: flex;
		flex-direction: column;
	}
	
	.afficher
	{
		margin-left: 20px;
		padding-bottom: 0px;
	}
	
}

@media (max-width: 800px)
{
	
	.image_populaire
	{
		width: 50%;
	}
	
	.image_populaire2
	{
		width: 50%;
	}
	
	.image_populaire3
	{
		width: 50%;
	}	
	
	.carte_activite
	{
		padding-bottom: 20px;
	}
	
	.titre_activite
	{
		padding-left: 20px;
	}
	
	.conteneur_activite
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.carte_activite_petite
	{
		margin-bottom: 0px;
	}
}

@media (max-width: 440px)
{
	.conteneur_detail_activite
	{
		width: 90%;
	}
	
	.conteneur_detail_activite_bloc
	{
		width: 90%;
		padding: 0;
	}
}